 <ul class="list-group">
    <li class="list-group-item"><a href="/User/Registration" class="btn btn-default btn-block">Regsiter</a></li>
    <li class="list-group-item"><a href="/User/Login" class="btn btn-default btn-block">Login</a></li>
</ul>
