
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<h2>Login</h2>
@Html.ActionLink("create new account", "Registration")
@{Html.RenderAction("Menu", "User");}
@if (TempData["Message"] != null)
{
    <p>
        @TempData["Message"].ToString()
    </p>
}
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                User Name
            </td>
            <td>
                @Html.TextBox("emailId")
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                @Html.TextBox("password")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login" />
            </td>
        </tr>
    </table>
}


